.footer-section {
  background-color: #1a1a1a;
  color: white;
  font-family: "Barlow", sans-serif;
  padding: 60px auto;
  width: 100%;
}

.footer-wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #5f5f5f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.communication {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 3rem;
}

.footer-logo {
  width: 230px;
}

.communication ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.communication ul li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.hot-menu {
  margin-top: 7rem;
}

.hot-menu-title {
  margin-right: 7rem;
}

.hot-menu h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hot-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.instagram {
  margin-top: 7rem;
}

.instagram-title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.insta-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.footer-bottom-row {
  margin-top: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
}
