main {
  background-color: var(--color-beige);
  padding-top: 3rem;
}

.liste {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  gap: 3rem;
}

.liste-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.liste-item img {
  width: 48px;
  height: 48px;
}

.liste-item span {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark-gray);
  font-family: Barlow, sans-serif;
  white-space: nowrap;
}

.siparis {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.siparis-left {
  background-image: url(images/iteration-2-images/cta/kart-1.png);
  width: 100%;
  max-width: 531px;
  height: 449px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.siparis-left-content {
  color: white;
  margin-left: 40px;
  margin-top: 44px;
}

.siparis-left-content h4 {
  font-size: 68px;
  font-weight: 500;
  line-height: 72px;
  font-family: "Quattrocento", serif;
}

.siparis-left-content p {
  font-size: 19px;
  font-weight: 500;
  font-family: Barlow, sans-serif;
}

button {
  color: var(--color-red);
  border-radius: 50px;
  padding: 16px 32px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.siparis-right {
  width: 530px;
  height: 449px;
}

.siparis-right-top {
  background-image: url(images/iteration-2-images/cta/kart-2.png);
  width: 100%;
  max-width: 530px;
  height: 220px;
  border-radius: 12px;
  margin-bottom: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.siparis-right-bottom {
  background-image: url(images/iteration-2-images/cta/kart-3.png);
  width: 100%;
  max-width: 530px;
  height: 220px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.siparis-right-top-content {
  color: white;
  padding-left: 30px;
  padding-top: 30px;
}

.siparis-right-top-content h4 {
  font-family: Barlow, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 10px;
}

.siparis-right-bottom-content {
  color: var(--color-dark-gray);
  padding-left: 30px;
  padding-top: 30px;
}

.h4-kirmizi {
  color: var(--color-red);
}

.siparis-right-bottom-content h4 {
  font-family: Barlow, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 10px;
}

.menu-title {
  text-align: center;
  margin-top: 50px;
}

.menu-title p {
  color: var(--color-red);
  font-family: "Satisfy", cursive;
  font-size: 32px;
}

.menu-title h4 {
  color: var(--color-dark-gray);
  font-weight: 600;
  font-size: 42px;
  font-family: Barlow, sans-serif;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.menu-buttons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.black-btn {
  background-color: #292929 !important;
  color: white !important;
}

.menu-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  color: #292929;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  font-family: Barlow, sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.menu > div {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  font-family: Barlow, sans-serif;
}

.menu-content p {
  font-weight: 600;
  margin: 0.8rem 0;
  color: var(--color-dark-gray);
  font-size: 22px;
}

.ucret {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark-gray);
  font-size: 16px;
}

.ucret ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.ucret li:last-child {
  font-weight: bold;
}

@media (max-width: 430px) {
  .liste {
    padding: 2rem 2.5rem !important;
  }

  .liste {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 400px;
    margin: 0 auto;
    gap: 1rem;
  }

  .liste-item {
    flex: 0 0 calc(50% - 0.5rem) !important;
    max-width: calc(50% - 0.5rem) !important;
    display: flex !important;
    justify-content: flex-start !important;
  }
  .siparis {
    flex-direction: column;
    align-items: center;
  }

  .siparis-left,
  .siparis-right,
  .siparis-right-top,
  .siparis-right-bottom {
    width: 100%;
    max-width: 360px;
  }

  .siparis-left {
    height: 336px;
  }

  .menu-title h4 {
    font-size: 42px;
    max-width: 340px;
    margin: 0 auto;
  }

  .menu-buttons {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 400px;
    margin: 0 auto;
    gap: 0.1rem !important;
  }

  .menu-buttons .col {
    flex: 0 0 calc(50%) !important;
    max-width: calc(50%) !important;
  }

  .menu-buttons button {
    width: 90%;
    justify-content: flex-start;
  }

  .menu {
    flex-direction: column;
    padding: 1rem 3rem;
  }

  .menu > div {
    padding: 1rem;
  }
}
