.hero-section {
  font-family: Roboto Condensed, sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("/images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-logo {
  font-size: 5rem;
  margin: 4rem auto;
  width: 350px;
}

.hero-title {
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 50px;
  font-weight: 100;
}

.hero-btn {
  background-color: var(--color-yellow);
  color: black;
  border: none;
  font-weight: bold;
  padding: 12px 48px;
  border-radius: 30px;
}
