.success-section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-red);
  color: white;
  padding-top: 40px;
  text-align: center;
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.success-logo {
  width: 100%;
  max-width: 360px;
  margin: 2rem auto;
}

.success-subtitle {
  font-family: "Satisfy", cursive;
  font-size: 32px;
  color: var(--color-yellow);
  margin-top: 3rem;
}

.success-title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.success-divider {
  width: 80%;
  max-width: 400px;
  height: 2px;
  background-color: white;
  margin: 0 auto 40px;
}

.pizza-name {
  font-size: 24px;
}

.pizza-info {
  width: 100%;
  max-width: 270px;
  text-align: left;
  margin: 2rem auto;
}

.pizza-info p {
  margin: 6px 0;
}

.toppings-list {
  font-weight: 600;
}

.price-card {
  width: 100%;
  max-width: 330px;
  border: 1px solid #faf7f2;
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto 0;
  text-align: left;
}

.price-title {
  font-size: 16px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.price-row.total {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
